body {
    padding : 20px;
}
div {
    margin-right : 10px;
}
.well{
padding-top : 0px;
}

.ui-effects-transfer {
    border: 1px dotted black;
  }
  
 .moviePoster{
 	width:230px;
 } 

#searchInput{
	margin-bottom: 0px;
}
